


.container{
	
	border: 3px solid darkgrey;
	border-radius: 15px;
	max-width: 350px;
	 
	text-align: center;
	
	margin:auto;
	}

div#test{  margin: auto;
	padding: 50px 10px 50px 10px;  width:50%;}

.exit{ font-style: italic;
 position: relative;
top: 260px;
    left: 80px;
	font-family: cursive;
	font-size: 30px;
	color: dodgerblue;
}
i{text-decoration: none;
	color: black;
}
a{	text-decoration: none;
	color: white;
  	}
.left-container{ border: 2px; solid:#999;
	position: relative;
    top: 100px;
    right: 148px;
	font-size:30px; }
.mid-container{text-align:center;
  font-size: 60px;
    color: #333;	
    position:center;
    border-color: black;
	margin-top: 5%;
	padding: 10px 50px 10px 50px;
	}
.right-container{ border: 2px; solid:#999;
position: absolute;
	right: 5%;
	font-size:40px;
}


.topnav{text-align:center;
  font-size: 60px;
    color: #333;	
    position:center;
    border-color: black;
	margin-top: 5%;
	padding: 10px 50px 10px 50px;
	
}

.midnav{text-align:center;
  font-size: 30px;
    color: #333;
	border: 2px black;
	border-radius: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
    position:center;
  	background-color:dodgerblue;
    border-color: black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
	margin-bottom: 75px;
	max-width: 270px;
}
.midnav2{text-align:center;
  font-size: 30px;
    color: #333;
	border: 2px black;
	border-radius: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
    position:center;
  	background-color:dodgerblue;
    border-color: black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
	margin-bottom: 75px;
	max-width: 270px;
}
.midnav3{text-align:center;
  font-size: 30px;
    color: white;
	border: 2px black;
	border-radius: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
    position:center;
  	background-color:dodgerblue;
    border-color: black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
	
	max-width: 270px;
}

#footernavleft {
  border: 2px; solid:#999;
    position: relative;
    top: 25px;
    left: -65px;
}
#footernavmid{
  border: 2px; solid:#999;
	 position: relative;
top: 25px;
   
}


#footernavright{
  border: 2px; solid:#999;
	 position: relative;
top: 25px;
    right: -65px;
}


.footer {text-align:center;
  font-size: 50px;
    color: #333;
padding-bottom: 5%;	
}